.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
media/logo.svg
.gitignore
.yarnrc
.prettierrc
webpack.config.js
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
**/.vscode-test.*
